.user-image{
    float: left;
    padding: 10px;
}

.user-container{
    clear: both;
}

.circular-square {
    height:80px;
    max-width: 80px;
    border-radius: 50%;
}

.full-page{
    min-height: 89vh;
  }